
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#vanta-canvas {
    width: 100vw;
    height: 50vh;
    align-items: center;
    align-content: center;

}


.head-line-bar {
    background-color: blue;
    padding: 3%;
}

.header {
    text-align: center;
    /* padding: 20px; */
    /* margin: 80px 80px 80px 80px; */
    font-size: xx-large;
    font-style: italic;
    font-family: ;
    align-content: center;
}

.header h1 {
    font-size: 50px;
    padding: 20px 300px;
    
}

.boxes {
    align-content: center;
    margin-top: 250px;
}

.title {
    background-color: brown;
    padding: 80px 120px;
    margin: 50px;
    border-radius: 8%;
}

.article {
    background-color: cadetblue;
    padding: 80px;
}

.footer {
    background-color: gold;
    padding: 80px;
    text-align: center;
}

