
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#vanta-canvas {
    width: 100vw;
    height: 500vh;    
}



.header {
    text-align: center;
    /* padding: 20px; */
    /* margin: 80px 80px 80px 80px; */
    font-size: xx-large;
    font-style: italic;
    font-family: ;
    align-content: center;
    padding-bottom: 878px;
}

.header h1 {
    font-size: 180px;
    padding: 150px  150px 275px 150px; 
}

.boxes {
    align-content: center;
    margin-top: 125px;
}

.title {
    padding: 160px 300px;
    margin: 200px;
    border-radius: 8%;
}

#desk-worker {
    background-image: url(../images/artists-work-desk.jpeg);
    background-size: cover;
}

#walking-guy {
    background-image: url(../images/videoblocks-back-view-young-tourist-man-walking-along-dangerous-path-on-top-of-normandy-coast-cliff-to-enjoy-epic-seascape-scenery_srgppoaw4_thumbnail-1080_01.png);
    background-size: cover;
}

#personal-info {
    background-image: url(../images/mail.png);
    background-size: cover;
}

/* .body {
    background-color: indianred;
} */

.article {
    background-color: cadetblue;
    padding: 200px 80px 200px 80px;
    position: 0;
   
}

.article h2 {
    font-size: 200px;
    font-style: italic;
    text-align: center;
    
}

.article p {
    font-size: 80px;
    color: blue;
}

.footer {
    background-color: gold;
    padding: 80px;
    text-align: center;
}

.contact {
    text-align: center;
    padding: 20px;
}

.contact h2 {
    font-size: 50px;
}

.contact-link {
    width: 15%;
    margin: 10px 0px;
    display: flex;
    margin: 0 auto;
    padding: 100px 40px;
}

