/* this keeps all the elements to the edges of the display */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* The Animated Background of the entire webpage */

.header {
  text-align: center;
  font-size: xx-large;
  font-style: italic;
  align-content: center;
  padding-bottom: 20px;
}

/* the Title of the webpage that you first see */
.header h1 {
  font-size: 180px;
  /* padding: 360px 150px 548px 150px; */
  padding: 20px;
}

.boxes {
  margin-left: 2px;
  margin-right: 2px;
}

/* the 3 images that are links */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* the far LEFT link */
#desk-worker img {
  border-radius: 8%;
  width: 600px;
  height: 400px;
}

/* the MIDDLE link */
#walking-guy img {
  border-radius: 8%;
  width: 600px;
  height: 400px;
}

/* the far RIGHT link */
#personal-info img {
  border-radius: 8%;
  width: 600px;
  height: 400px;
}

/* the About Me section */
.article {
  /* padding: 200px 80px 200px 80px; */
  padding: 20px;
}

/* what gives the about me section the cool blurred background affect */
article.article {
  backdrop-filter: blur(30px);
}

/* the Photo of 'Christian Casillas */
body article div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body article div #christiansphoto {
  border-radius: 5%;
}

/* the About Me section TITLE */
.article h2 {
  font-size: 200px;
  font-style: italic;
  text-align: center;
}

/* the About Me section CONTENT */
.article p {
  font-size: 80px;
}

/* Bottom of page that has the contact information */
footer {
  display: flex;
  flex-direction: column;
  background-color: #5d8aa8;
  padding: 110px 180px 90px 180px;
}

.bottom div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: space-between;
}

.bottom div a {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: space-between;
  margin: 80px 0px 50px 0px;
}

/* the words "CONTACT ME" */
.contact h2 {
  font-size: 50px;
  margin-top: 0px;
}

/* links to contact me */
.contact-link {
  width: 5%;
}

#linkedin {
    width: 5%;
}



@media screen and (max-width: 575px ) {
    nav {

        flex-direction: column;
        justify-content: space-around;

      }

      .header h1 {
        font-size: 70px;
        padding: 20px 50px 80px 50px;
      }
      
      /* the far LEFT link */
      #desk-worker img {
        width: 250px;
        height: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      
      /* the MIDDLE link */
      #walking-guy img {
        width: 250px;
        height: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      
      /* the far RIGHT link */
      #personal-info img {
        width: 250px;
        height: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      /* the About Me section */
      .article {
        padding: 20px;
    }

      .article h2 {
        font-size: 100px;
      }

        /* the Photo of 'Christian Casillas */
        body article div img {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 550px;
    }


      .article p {
        font-size: 30px;
      }

    
      .contact h2 {
        font-size: 50px;
        margin-top: 0px;
      }

      .bottom div a {
        margin: 70px 0px 10px 0px;
      }
      
      /* the words "CONTACT ME" */
      .contact h2 {
        font-size: 40px;
        
      }
      
      /* links to contact me */
      .contact-link {
        width: 90%;
      }
      
      #linkedin {
          width: 90%;
      }

}


@media screen and (max-width: 1300) {
    
    nav {

        justify-content: space-around;

      }

      .header h1 {
        font-size: 10px;
        padding: 200px;
      }
      
      /* the far LEFT link */
      #desk-worker img {
        width: 250px;
        height: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      
      /* the MIDDLE link */
      #walking-guy img {
        width: 250px;
        height: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      
      /* the far RIGHT link */
      #personal-info img {
        width: 250px;
        height: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      /* the About Me section */
      .article {
        padding: 20px;
    }

      .article h2 {
        font-size: 100px;
      }

        /* the Photo of 'Christian Casillas */
        body article div img {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 550px;
    }


      .article p {
        font-size: 30px;
      }

    
      .contact h2 {
        font-size: 50px;
        margin-top: 0px;
      }

      .bottom div a {
        margin: 70px 0px 10px 0px;
      }
      
      /* the words "CONTACT ME" */
      .contact h2 {
        font-size: 40px;
        
      }
      
      /* links to contact me */
      .contact-link {
        width: 90%;
      }
      
      #linkedin {
          width: 90%;
      }


}